@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Newsreader', sans-serif;
  
  background-color: var(--bg-color);
  color: var(--main-color);
}



  
body.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  } 

main.content {
    flex: 1; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #282a36;
  --main-color: #bd93f9;
  --caret-color: #bd93f9;
  --sub-color: #6272a4;
  --sub-alt-color: #20222c;
  --text-color: #f8f8f2;
  --error-color: #ff5555;
  --error-extra-color: #f1fa8c;
  --colorful-error-color: #ff5555;
  --colorful-error-extra-color: #f1fa8c;
}
